.timeline{
    width: 761px;
}

.text {
    position: relative;
    left: 120px;
    max-width: 60vw;
    width: 500px;
    margin-right: 200px;
}

.symbol, .text {
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.toRight {
    left: 250px;
}


.halfRight {
    left: 180px;
}

@media screen and (max-width: 500px) {
    .toRight{
        max-width: 40vw;
    }
}